{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
   

    <div class="bienvenue">
        {% if app.user %}
            <h1>Bienvenue agent {{ app.user.username }}</h1>
        </div>
        <div class="home-card">
            <div class="go-jeux">
                <h3>Que la traque commence!</h3>
            </div>
            <div class="info-jeux">
                <div class="button-container">
                    <a href="{{ path('app_info_jeux') }}" class="btn btn-primary">Informations jeux</a>
                    <a href="{{ path('app_jeux') }}" class="btn btn-primary ms-2">Jouer...</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="home-card">
            <h1>Veuillez vous connecter ou vous inscrire <a href="{{ path('app_register') }}">ICI</a></h1>
        </div>
        {% endif %}
    </div>
{% endblock %}
