{% extends 'base.html.twig' %}

{% block title %}Étape 6{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jeux/jeux5.css') }}">
{% endblock %}

{% block body %}

    <audio autoplay loop id='audio'>
        <source src="{{ asset('music/etape5.mp3') }}" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
    </audio>

    <button id="audio-toggle" class="btn1 btn-primary">Désactiver le son</button>

    {% if app.user.isVerified == 1 %}
   <div class="hacker-frame">
    <div class="hacker-content">
        <h1>Dream Island!!!</h1>
        <br>
        <p>Dark Cipher se cache à Dream Island, mais c'est tres grand! Encore une fois Dark Cipher nous nargue en nous donnant un indice pour le trouver : claquant.diadème.aliénons What3words??</p>
        <br>
       
    </div>
</div>




            {% if isCorrect %}
                <div class="alert alert-success hacker-text">
                    Bravo ! Vous avez trouvé l'indice : {{ secretCode }}
                </div>
            {% elseif isSubmitted %}
                <div class="alert alert-danger hacker-text">
                    Désolé, la réponse est incorrecte. Essayez à nouveau.
                </div>
            {% endif %}

        <div class="hacker-frame">
    <form method="post" action="{{ path('jeux_etape6') }}">
        <div class="form-group">
            <h4>Où se trouve Dark Cipher ? :</h4>
            <label for="response">Votre réponse :</label>
            <input type="text" id="response" name="response" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Vérifier</button>
    </form>
</div>

            {% if isCorrect %}
                <div class="suivant">
                    <a href="{{ path('jeux_etape5') }}" class="btn btn-primary">Étape suivante...</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <h1>Veuillez valider votre email en cliquant sur le lien envoyé.</h1>
    {% endif %}

{% endblock %}
