{% extends 'base.html.twig' %}

{% block title %}Étape 2{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jeux/jeux2.css') }}">
{% endblock %}

{% block body %}
<audio autoplay id='audio'>
        <source src="{{ asset('music/etape2.mp3') }}" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
      </audio>

      <button id="audio-toggle" class="btn btn-primary">Désactiver le son</button>

    {% if app.user.isverified == 1 %}
    <div class="glassmorphism-card">
        <div class="jeux2">
            <h1>Dark Cipher a été filmé par une caméra de sécurité en Italie, mais impossible de connaître la ville ! Enquêtez pour trouver où était Dark Cipher</h1>
        </div>

        <div class="photo">
            <h3>Voici une photo de la caméra de surveillance :</h3>
            <br>
            <div class="image">
                <img src="{{ asset('/img/lieu.jpg') }}" alt="statue italienne">
            </div>
        </div>

            {% if isCorrect %}
                <div class="alert alert-success">
                    Bravo ! Vous avez trouvé le mot de passe : {{ secretCode }}
                </div>
            {% elseif isSubmitted %}
                <div class="alert alert-danger">
                    Désolé, la réponse est incorrecte. Essayez à nouveau.
                </div>
            {% endif %}
        <form method="post" action="{{ path('jeux_etape2') }}">
            <div class="form-group">
                <h4>Où était donc Dark Cipher ?</h4>
                <label for="response">Votre réponse :</label>
                <input type="text" id="response" name="response" class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Vérifier</button>
        </form>

        {% if isCorrect %}
        <div class="suivant">
            <a href="{{ path('jeux_etape3') }}" class="btn btn-primary">Étape suivante...</a>
        </div>
        {% endif %}
    </div>
    {% else %}
        <h1>Veuillez valider votre email en cliquant sur le lien envoyé.</h1>

    {% endif %}
 
{% endblock %}
