{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="{{ asset('/css/jeux/jeux1.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('/js/jeux1.js') }}"></script>
{% endblock %}

{% block body %}
<audio autoplay id='audio'>
        <source src="{{ asset('music/etape1.mp3') }}" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
      </audio>

      <button id="audio-toggle" class="btn btn-primary">Désactiver le son</button>
    <div class="jeux1">
        <h1>Agent {{app.user.username}}</h1>
        <h1>Un code secret se cache sur cette page, trouvez-le et entrez votre réponse !</h1>
    </div>

    <div class="password-container">
        <p>
            Tiens, tiens, un code secret... 
            Il a l'air simple... <span id="secret-text">123456</span>
        </p>
    </div>



    {% if app.user.isVerified == 1 %}
        <div class="reponse1">
            {# Vérifiez si la réponse de l'utilisateur est correcte et affichez un message en conséquence #}
            {% if isCorrect %}
                <div class="alert alert-success animate__animated animate__bounceInDown">
                    Bravo ! Vous avez trouvé le mot de passe : {{ secretCode }}
                    <script>
                        playVictoryAnimation(); // Appel de la fonction d'animation
                    </script>
                </div>
            {% elseif isSubmitted %}
                <div class="alert alert-danger">
                    Désolé, la réponse est incorrecte. Essayez à nouveau.
                </div>
            {% endif %}
            
            <form method="post" action="{{ path('app_jeux') }}">
                <div class="form-group">
                    <label for="response">Votre réponse :</label>
                    <input type="text" id="response" name="response" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Vérifier</button>
            </form>
        </div>
        {% if isCorrect %}
            <div class="suivant">
                <a href="{{ path('jeux_etape2') }}" class="btn btn-primary">Étape suivante...</a>
            </div>
        {% endif %}
    {% else %}
        <h1>Veuillez valider votre email en cliquant sur le lien envoyé.</h1>
    {% endif %}
    <script src="{{ asset('/js/jeux1.js') }}"></script>
{% endblock %}
